<h1>LightControl#of</h1>

<%= link_to "on", :action => "on" %>

<%= link_to "off", :action => "of" %>

<br><br>

<%= link_to "blink", :action => "blink" %>

<%= link_to "random", :action => "random" %>

<%= link_to "gradation", :action => "gradation" %>